
.wpadverts-overlay {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 160000;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
}

.wpadverts-overlay.show {
    display:block;
}

.wpadverts-overlay h2 {
    font-size: 22px;
}

.wpadverts-overlay p {
    margin: 5px 0 25px 0;
}

.wpadverts-overlay input[type=radio] {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
}

.wpadverts-overlay > .wpadverts-overlay-body {
    
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    overflow: hidden;
    margin: auto;

    box-sizing: border-box;

    background-color: #fff;
    border:1px solid silver;
    padding:0;
}

.wpadverts-overlay .wpadverts-overlay-header {
    clear: both;
    margin: 0;
    background: #fcfcfc;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0 0;
    height: 50px;
}

.wpadverts-attachment-media-view {
    float: left;
    width: 65%;
    height: 100%;
}


.wpadverts-overlay-buttons {
    float:right;
}

.wpadverts-overlay-button {
    cursor: pointer;
    color: #72777c;
    background-color: transparent;
    height: 50px;
    width: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border: 0;
    border-left: 1px solid #ddd;
    -webkit-transition: color .1s ease-in-out,background .1s ease-in-out;
    transition: color .1s ease-in-out,background .1s ease-in-out;
    display: inline-block;
    text-decoration: none !important;
}

.wpadverts-overlay-button:not(.wpadverts-navi-disabled):hover {
    background: #ddd none repeat scroll 0 0;
    border-color: #ccc;
    color: #000;
}

.wpadverts-overlay-button.wpadverts-navi-disabled {
    opacity: 0.6;
    cursor: default;
}


.wpadverts-attachment-info {
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 12px 16px 0;
    width: 35%;
    height: 100%;
    -webkit-box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);
    box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);
    border-bottom: 0;
    border-left: 1px solid #ddd;
    background: #f3f3f3;
}

.wpadverts-overlay .adverts-form-aligned .adverts-control-group > label {
    width: 100%;
    font-weight: bold;
    margin: 6px 0 6px 0;
}

.wpadverts-overlay input[type="text"],
.wpadverts-overlay textarea {
    width: 100%;
}

.wpadverts-overlay .wpadverts-overlay-title {
        padding: 0 16px;
    font-size: 22px;
    line-height: 50px;
    margin: 0;
    float: left;
}

.wpadverts-attachment-details {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}

.wpadverts-overlay .wpadverts-attachment-info .details {
    position: relative;
    overflow: hidden;
    float: none;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.wpadverts-overlay .wpadverts-attachment-info .details {
        font-size: 12px;
    max-width: 100%;
        line-height: 18px;
    color: #666;
}

.wpadverts-attachment-audio,
.wpadverts-attachment-video,
.wpadverts-attachment-other,
.wpadverts-attachment-image {
    padding: 25px;
    text-align: center;
    position: relative;
    height: inherit;
}

.adverts-gallery-upload-item-file {
    display: block;
    width: 100%;
    height: 105px;
    
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.adverts-gallery-upload-item-file .adverts-gallery-upload-item-file-icon {
    font-size: 74px;
    line-height: 94px;
}

.adverts-gallery-upload-item-file .adverts-gallery-upload-item-file-name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 12px;
    background: rgba(0,0,0, 0.5);
    text-align: left;
    right: 0;
    padding: 1px 6px;
}

.adverts-image-preview {
    padding: 25px;
}
   
.adverts-image-preview > img {
    max-width: 100%; 
    max-height: 100%;
}

.adverts-image-action-scale {
    vertical-align: middle;
}

.wpadverts-image-apply-to {
    padding: 0;
    margin: 1em 0 0 0;
}

.wpadverts-image-apply-to > label {
    float: none !important;
}

.wpadverts-file-browser-video {
    object-fit: contain
}

.wpadverts-attachment-icon-big-wrap {
    margin: 0 0 2em 0
}

.wpadverts-attachment-icon-big-wrap .wpadverts-attachment-icon-big {
    font-size: 128px; 
    opacity: 0.35;
}

.wpadverts-file-preview {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    clear:both;
    overflow:hidden
}

.wpadverts-file-preview .wpadverts-image-sizes {
    background: white;
    border: 1px solid silver;
    width: 100%;
}

.wpadverts-file-size-explain {
    font-size: 12px; 
    max-width: 100%; 
    line-height: 18px; 
    color: #666;
}

.adverts-image-scale-width,
.adverts-image-scale-height {
    width: 70px !important;
    height: 30px;
    box-sizing: border-box !important;
    border-radius: 1px;
}

.wpadverts-file-error {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid silver;
    padding: 0;
    z-index: 170000;
}

.wpadverts-file-error > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.wpadverts-image-edit-spinner {
    font-size: 24px;
    vertical-align: middle
}