@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*@variants responsive {*/
        .wpa-utility-shadow-top {
            box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%)
        }
    /*}*/
}

@layer components {
    
    .wpadverts-block .wpadverts-form input[type=checkbox]:checked,
    .wpadverts-blocks .wpadverts-form input[type=checkbox]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
    .wpadverts-block .wpadverts-form input[type=radio]:checked,
    .wpadverts-blocks .wpadverts-form input[type=radio]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e");
    }
    .wpadverts-block .wpadverts-form.wpa-solid select,
    .wpadverts-blocks .wpadverts-form.wpa-solid select {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    }

    .wpadverts-blocks .wpadverts-form input[type=radio]:before,
    .wpadverts-blocks .wpadverts-form input[type=checkbox]:before,
    .wpadverts-blocks .wpadverts-form select:before {
        content: none !important;
    }

    .wpadverts-blocks i {
        @apply atw-not-italic !important;
    }
    
    .wpadverts-form .wpa-w-full input[type=text],
    .wpadverts-form .wpa-w-full select {
        @apply atw-w-full atw-max-w-full ;
    }

    .wpadverts-hidden {
        @apply atw-hidden !important;
    }

    /* FORM COMMON */

    .wpadverts-form .wpa-form-wrap {
        @apply md:atw-grow md:atw--mx-1
    }

    .wpadverts-form .wpa-form-wrap-inner {
        @apply atw-flex atw-flex-wrap atw-items-end atw-justify-between atw-py-0 atw-px-0
    }

    .wpadverts-form .wpa-form-header {
        @apply atw-relative atw-items-end atw-box-border atw-pt-6 atw-pb-1 md:atw-mx-1;
    }

    .wpadverts-form .wpa-form-header-label {
        @apply atw-text-2xl atw-font-normal;
    }

    .wpadverts-form .wpa-form-header-text {
        @apply atw-text-base;
    }

    .wpadverts-form .wpa-field-wrap {
        @apply atw-relative atw-box-border atw-pb-3 md:atw-px-1
    }

    .wpadverts-form .wpa-field-label {
        @apply atw-block atw-box-border atw-px-0 atw-pt-2 atw-pb-0 atw-text-base atw-text-gray-600;
    }

    .wpadverts-form .wpa-field-label-text {
        @apply atw-leading-none;
    }

    .wpadverts-block-search .wpadverts-form .wpa-field-label {
        @apply atw-pt-0 atw-pl-1 atw-pb-1;
    }

    .wpadverts-block-search .wpadverts-form .wpa-field-label-text {
        @apply atw-leading-normal;
    }

    .wpadverts-form .wpa-field-asterisk {
        @apply atw-text-base atw-text-red-600 atw-leading-none atw-font-bold;
    }

    .wpadverts-form .wpa-field-input {
        @apply atw-block atw-w-full;
    }

    .wpadverts-form .wpa-field-desc .wpa-field-desc-text {
        @apply atw-text-sm atw-text-gray-500;
    }

    .wpadverts-form .wpa-form-buttons {
        
        @apply atw-flex atw-flex-col atw-my-3 atw-pb-3 atw-bg-gray-50 atw-rounded-md atw-justify-end md:atw-flex-row md:atw-px-2;
    }

    .wpadverts-form .wpa-form-buttons-list {
        @apply atw-flex-none atw-mt-3 atw-mx-3 md:atw-mx-1;
    }

    #wpadverts-block-contact-box .wpadverts-form .wpa-form-buttons {
        @apply atw--mx-0
    }

    /* FORM STYLES */
    
    .wpadverts-form input[type=text],
    .wpadverts-form textarea,
    .wpadverts-form .wpa-input-alike {
        @apply atw-outline-none atw-box-border atw-leading-loose atw-border-solid atw-bg-right atw-bg-no-repeat
    }

    .wpadverts-form select,
    .wpadverts-form select[multiple], 
    .wpadverts-form input[type=text].wpadverts-autocomplete,
    .wpadverts-form .adverts-multiselect-holder input[type=text] {
        @apply atw-outline-none atw-box-border atw-leading-loose atw-border-solid atw-bg-right atw-bg-no-repeat atw-appearance-none;
        
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    }

    .wpadverts-form input[type=checkbox],
    .wpadverts-form input[type=radio] {
        @apply atw-appearance-none atw-box-border atw-border-solid atw-w-7 md:atw-w-5 atw-h-7 md:atw-h-5 atw-text-base atw-outline-none atw-p-0 atw-m-0 atw-leading-loose;
    }

    .wpadverts-form input[type=checkbox][disabled=disabled],
    .wpadverts-form input[type=radio][disabled=disabled],
    .wpadverts-form input[type=checkbox][readonly=readonly],
    .wpadverts-form input[type=radio][readonly=readonly] {
        @apply atw-bg-gray-100 atw-cursor-not-allowed !important;
    }

    .wpadverts-form input[type=text].wpadverts-autocomplete {
        @apply atw-cursor-pointer;
    }
    .wpadverts-form .wpadverts-autocomplete-openclose {
        @apply atw-hidden !important;
    }

    /* Flat */

    .wpadverts-form.wpa-flat input[type=text],
    .wpadverts-form.wpa-flat .wpa-input-alike,
    .wpadverts-form.wpa-flat textarea {
        @apply  atw-bg-white  atw-border-form-gray-300 atw-placeholder-form-gray-500 atw-text-form-gray-700
    }
    .wpadverts-form.wpa-flat select {
        @apply atw-bg-white atw-border-form-gray-300 atw-placeholder-form-gray-500 atw-text-form-gray-700;
   }
    .wpadverts-form.wpa-flat input[type=checkbox],
    .wpadverts-form.wpa-flat input[type=radio] {
        @apply atw-bg-white  atw-border-form-gray-300 atw-p-0;

    }
    .wpadverts-form.wpa-flat input[type=radio] {
        @apply atw-rounded-full;
    }

    /* Solid */
    
    .wpadverts-form.wpa-solid input[type=text],
    .wpadverts-form.wpa-solid .wpa-input-alike,
    .wpadverts-form.wpa-solid textarea {
        @apply atw-bg-form-gray-100 atw-border-form-gray-100 atw-placeholder-form-gray-500 atw-text-form-gray-500
 
    }
    .wpadverts-form.wpa-solid select {
        @apply atw-bg-form-gray-100 atw-border-form-gray-100 atw-placeholder-form-gray-500 atw-text-form-gray-500;
    }
    .wpadverts-form.wpa-solid input[type=checkbox],
    .wpadverts-form.wpa-solid input[type=radio] {
        @apply atw-bg-form-gray-100 atw-border-gray-100;

    }
    .wpadverts-form.wpa-solid input[type=radio] {
        @apply atw-rounded-full;
    }

    /* Simple */

    .wpadverts-form.wpa-simple input[type=text],
    .wpadverts-form.wpa-simple .wpa-input-alike,
    .wpadverts-form.wpa-simple textarea {
        @apply atw-outline-none atw-box-border atw-bg-white atw-border-gray-300 atw-shadow-sm 
    }
    .wpadverts-form.wpa-simple select {
        @apply atw-appearance-none atw-outline-none atw-box-border atw-bg-white atw-border-gray-300 atw-bg-right atw-bg-no-repeat atw-shadow-sm  atw-placeholder-gray-500 atw-text-gray-500;
        
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  
    }
    .wpadverts-form.wpa-simple input[type=checkbox],
    .wpadverts-form.wpa-simple input[type=radio] {
        @apply atw-appearance-none atw-w-5 atw-h-5 atw-bg-white atw-border-gray-300 atw-text-base atw-outline-none atw-box-border atw-bg-white atw-border atw-border-solid atw-border-gray-200 atw-rounded atw-p-0 atw-m-0;

    }
    .wpadverts-form.wpa-simple input[type=radio] {
        @apply atw-rounded-full;
    }

    /* FORM CORNERS */

    .wpadverts-form.wpa-rounded-none input[type=text],
    .wpadverts-form.wpa-rounded-none .wpa-input-alike,
    .wpadverts-form.wpa-rounded-none select,
    .wpadverts-form.wpa-rounded-none textarea {
        @apply atw-rounded-none;
    }    
    .wpadverts-form.wpa-rounded-sm input[type=text],
    .wpadverts-form.wpa-rounded-sm .wpa-input-alike,
    .wpadverts-form.wpa-rounded-sm select,
    .wpadverts-form.wpa-rounded-sm textarea {
        @apply atw-rounded-sm;
    }        
    .wpadverts-form.wpa-rounded input[type=text],
    .wpadverts-form.wpa-rounded .wpa-input-alike,
    .wpadverts-form.wpa-rounded select,
    .wpadverts-form.wpa-rounded textarea {
        @apply atw-rounded;
    }    
    .wpadverts-form.wpa-rounded-md input[type=text],
    .wpadverts-form.wpa-rounded-md .wpa-input-alike,
    .wpadverts-form.wpa-rounded-md select,
    .wpadverts-form.wpa-rounded-md textarea {
        @apply atw-rounded-md;
    }    
    .wpadverts-form.wpa-rounded-lg input[type=text],
    .wpadverts-form.wpa-rounded-lg select,
    .wpadverts-form.wpa-rounded-lg textarea {
        @apply atw-rounded-lg;
    }    
    .wpadverts-form.wpa-rounded-xl input[type=text],
    .wpadverts-form.wpa-rounded-xl .wpa-input-alike,
    .wpadverts-form.wpa-rounded-xl select,
    .wpadverts-form.wpa-rounded-xl textarea {
        @apply atw-rounded-xl;
    }    
    .wpadverts-form.wpa-rounded-2xl input[type=text],
    .wpadverts-form.wpa-rounded-2xl .wpa-input-alike,
    .wpadverts-form.wpa-rounded-2xl select,
    .wpadverts-form.wpa-rounded-2xl textarea {
        @apply atw-rounded-2xl;
    }

    /* FORM SHADOWS */

    .wpadverts-form.wpa-shadow-none input,
    .wpadverts-form.wpa-shadow-none .wpa-input-alike,
    .wpadverts-form.wpa-shadow-none select,
    .wpadverts-form.wpa-shadow-none textarea {
        @apply atw-shadow-none;
    }
    .wpadverts-form.wpa-shadow-sm input,
    .wpadverts-form.wpa-shadow-sm .wpa-input-alike,
    .wpadverts-form.wpa-shadow-sm select,
    .wpadverts-form.wpa-shadow-sm textarea {
        @apply atw-shadow-sm;
    }
    .wpadverts-form.wpa-shadow-md input,
    .wpadverts-form.wpa-shadow-md .wpa-input-alike,
    .wpadverts-form.wpa-shadow-md select,
    .wpadverts-form.wpa-shadow-md textarea {
        @apply atw-shadow-md;
    }
    .wpadverts-form.wpa-shadow-inner input,
    .wpadverts-form.wpa-shadow-inner .wpa-input-alike,
    .wpadverts-form.wpa-shadow-inner select,
    .wpadverts-form.wpa-shadow-inner textarea {
        @apply atw-shadow-inner;
    }

    /* FORM BORDER */

    .wpadverts-form.wpa-border-none input[type=text],
    .wpadverts-form.wpa-border-none .wpa-input-alike,
    .wpadverts-form.wpa-border-none input[type=checkbox],
    .wpadverts-form.wpa-border-none input[type=radio],
    .wpadverts-form.wpa-border-none select,
    .wpadverts-form.wpa-border-none textarea {
        @apply atw-border-0;
    }
    .wpadverts-form.wpa-border-thin input[type=text],
    .wpadverts-form.wpa-border-thin .wpa-input-alike,
    .wpadverts-form.wpa-border-thin input[type=checkbox],
    .wpadverts-form.wpa-border-thin input[type=radio],
    .wpadverts-form.wpa-border-thin select,
    .wpadverts-form.wpa-border-thin textarea {
        @apply atw-border;
    }
    .wpadverts-form.wpa-border-thick input[type=text],
    .wpadverts-form.wpa-border-thick .wpa-input-alike,
    .wpadverts-form.wpa-border-thick input[type=checkbox],
    .wpadverts-form.wpa-border-thick input[type=radio],
    .wpadverts-form.wpa-border-thick select,
    .wpadverts-form.wpa-border-thick textarea {
        @apply atw-border-2;
    }    
    .wpadverts-form.wpa-border-thick-x2 input[type=text],
    .wpadverts-form.wpa-border-thick-x2 .wpa-input-alike,
    .wpadverts-form.wpa-border-thick-x2 input[type=checkbox],
    .wpadverts-form.wpa-border-thick-x2 input[type=radio],
    .wpadverts-form.wpa-border-thick-x2 select,
    .wpadverts-form.wpa-border-thick-x2 textarea {
        @apply atw-border-4;
    }

    /* FORM FOCUS */

    .wpadverts-form.wpa-focus-simple input,
    .wpadverts-form.wpa-focus-simple .wpa-input-alike,
    .wpadverts-form.wpa-focus-simple select {
        @apply focus:atw-ring focus:atw-ring-opacity-50 focus:atw-border-primary-light focus:atw-ring-primary-light ;
    }
    
    /* FORM PADDING */
    
    .wpadverts-form.wpa-padding-sm .button {
        @apply atw-py-2 atw-leading-loose;
    }
    .wpadverts-form.wpa-padding-sm input,
    .wpadverts-form.wpa-padding-sm .wpa-input-alike,
    .wpadverts-form.wpa-padding-sm select {
        @apply atw-py-2 atw-px-2 atw-leading-loose;
    }
    .wpadverts-form.wpa-padding-sm.wpa-layout-aligned .wpa-field-label,
    .wpadverts-form.wpa-padding-sm.wpa-layout-aligned .wpa-field-input.wpa-with-margin {
        @apply md:atw-py-2 atw-px-0 atw-leading-loose;
    }

    .wpadverts-form.wpa-padding-md .button {
        @apply atw-py-3 atw-leading-loose;
    }
    .wpadverts-form.wpa-padding-md input,
    .wpadverts-form.wpa-padding-md .wpa-input-alike,
    .wpadverts-form.wpa-padding-md select {
        @apply atw-py-3 atw-px-3 atw-leading-loose;
    }
    .wpadverts-form.wpa-padding-md.wpa-layout-aligned .wpa-field-label,
    .wpadverts-form.wpa-padding-md.wpa-layout-aligned .wpa-field-input.wpa-with-margin {
        @apply md:atw-py-3 atw-px-0 atw-leading-loose;
    }

    .wpadverts-form.wpa-padding-sm.wpa-layout-aligned .wpa-field-input.wpa-with-margin,
    .wpadverts-form.wpa-padding-md.wpa-layout-aligned .wpa-field-input.wpa-with-margin  {
        @apply atw-self-center;
    }

    /* FORM ROUNDING */
    .wpadverts-form.wpa-mood-simple input[type=text], 
    .wpadverts-form.wpa-mood-simple .wpa-input-alike, 
    .wpadverts-form.wpa-mood-simple select {
        @apply atw-rounded-lg;
    }
    .wpadverts-form.wpa-mood-playful input[type=text], 
    .wpadverts-form.wpa-mood-playful .wpa-input-alike, 
    .wpadverts-form.wpa-mood-playful select {
        @apply atw-rounded-full;
    }
    .wpadverts-form.wpa-mood-elegant input[type=text], 
    .wpadverts-form.wpa-mood-elegant .wpa-input-alike, 
    .wpadverts-form.wpa-mood-elegnat select {
        @apply atw-rounded-none;
    }

    /* FORM LAYOUTS */

    .wpadverts-form.wpa-layout-stacked {

    }

    .wpadverts-form.wpa-layout-stacked .wpa-field-label {
        @apply atw-mb-1;
    }

    .wpadverts-form.wpa-layout-aligned .wpa-field-wrap {
        @apply atw-flex atw-items-start atw-flex-col md:atw-flex-row atw-box-border;
    }

    .wpadverts-form.wpa-layout-aligned .wpa-field-wrap .wpa-field-label {
        @apply atw-flex-none md:atw-w-1/3;
    }
    
    .wpadverts-form.wpa-layout-aligned .wpa-field-wrap .wpa-field-input {
        @apply atw-flex-grow;
    }

    .wpadverts-form.wpa-layout-aligned.wpa-form-interline .wpa-field-wrap .wpa-field-desc {
        @apply atw-mt-2
    }

    .wpadverts-form.wpa-layout-aligned .wpa-field-label {
        @apply atw-border-transparent atw-border-solid;
    }
    .wpadverts-form.wpa-border-none.wpa-layout-aligned .wpa-field-label {
        @apply md:atw-border-y-0;
    }
    .wpadverts-form.wpa-border-thin.wpa-layout-aligned .wpa-field-label {
        @apply md:atw-border-y;
    }
    .wpadverts-form.wpa-border-thick.wpa-layout-aligned .wpa-field-label {
        @apply md:atw-border-y-2;
    }
    .wpadverts-form.wpa-border-thick-x2.wpa-layout-aligned .wpa-field-label {
        @apply md:atw-border-y-4;
    }

    /* FORM ERRORS */ 
    .wpadverts-form .wpa-field-error {

    }

    .wpadverts-form .wpa-field-error input[type=text],
    .wpadverts-form .wpa-field-error select,
    .wpadverts-form .wpa-field-error textarea {
        @apply atw-ring-1 atw-ring-red-300;
    }

    .wpadverts-form .wpa-field-error .wpa-errors-list {
        @apply atw-list-none atw-mx-0 atw-mt-1 atw-mb-0 atw-p-0;
    }

    .wpadverts-form .wpa-field-error .wpa-errors-list .wpa-error-item {
        @apply atw-list-none atw-m-0 atw-px-0 atw-pt-1 atw-pb-2 atw-leading-5 atw-text-red-600
    }

    /* FORM INTERLINE */

    .wpadverts-form.wpa-form-interline .wpa-field-wrap {
        @apply atw-border-0 md:atw-pt-3 md:atw-border-b md:atw-border-solid md:atw-border-gray-100;
    }
    .wpadverts-form.wpa-form-interline .wpa-form-header {
        @apply atw-border-0 md:atw-pt-3 md:atw-mt-6 md:atw-border-b md:atw-border-solid md:atw-border-gray-100;
    }

    /* FORM ROWS SPACING */

    .wpadverts-form.wpa-spacing-0 .wpa-field-wrap {
        @apply atw-my-0;
    }

    .wpadverts-form.wpa-spacing-1 .wpa-field-wrap {
        
    }

    /* FORM MULTI-SELECT */

    .wpadverts-form .adverts-multiselect-options {
        @apply atw-bg-white atw-border atw-border-t-0 atw-border-solid atw-border-gray-300 atw-rounded-bl atw-rounded-br atw-shadow-lg atw-overflow-y-scroll atw-z-50 atw-absolute
    }

    .wpadverts-form .adverts-multiselect-options {
        min-height: 50px;
        max-height: 250px;
        min-width: 200px;
    }

    .wpadverts-form .adverts-multiselect-options > label {
        @apply atw-flex atw-items-center atw-px-3 atw-py-2
    }

    .wpadverts-form .adverts-multiselect-options > label:hover {
        @apply atw-bg-gray-50
    }

    .wpadverts-form .adverts-multiselect-options > label > input[type=checkbox] {
        @apply atw-inline-block atw-w-8 atw-h-8 md:atw-w-5 md:atw-h-5
    }

    .wpadverts-form .adverts-multiselect-options > label > span {
        @apply atw-px-3 md:atw-px-2
    }

    .wpadverts-form.wpa-flat input[type=text][readonly=readonly],
    .wpadverts-form.wpa-solid input[type=text][readonly=readonly],
    .wpadverts-form.wpa-bottom-border input[type=text][readonly=readonly],
    .wpadverts-form.wpa-flat input[type=checkbox][readonly=readonly],
    .wpadverts-form.wpa-solid input[type=checkbox][readonly=readonly],
    .wpadverts-form.wpa-bottom-border input[type=checkbox][readonly=readonly],
    .wpadverts-form.wpa-flat select[readonly=readonly],
    .wpadverts-form.wpa-solid select[readonly=readonly],
    .wpadverts-form.wpa-bottom-border select[readonly=readonly],
    .wpadverts-form.wpa-flat textarea[readonly=readonly],
    .wpadverts-form.wpa-solid textarea[readonly=readonly],
    .wpadverts-form.wpa-bottom-border textarea[readonly=readonly] {
        @apply atw-bg-gray-50 atw-opacity-80;
    }

    /* INPUT WITH BUTTON(S) */

    .wpadverts-form .wpa-input-with-btns {
        @apply atw-relative atw-m-0 atw-p-0
    }

    .wpadverts-form .wpa-input-with-btns > input[type=text] {
        @apply atw-block
    }

    .wpadverts-form .wpa-input-with-btns .wpa-btns-wrap {
        @apply atw-absolute atw-inset-y-0 atw-right-0 atw-flex atw-items-center atw-py-2 atw-pr-2
    }

    .wpadverts-form .wpa-input-with-btns .wpa-btns-wrap .wpa-btn {
        @apply atw-px-2 atw-h-full atw-rounded-md atw-bg-gray-500 atw-text-white atw-flex atw-items-center atw-ml-1 atw-no-underline
    }
    .wpadverts-form .wpa-input-with-btns .wpa-btns-wrap .wpa-btn:hover {
        @apply atw-no-underline atw-bg-gray-600 atw-text-white
    }
    .wpadverts-form .wpa-input-with-btns .wpa-btns-wrap .wpa-btn .wpa-btn-icon {
        @apply atw-text-xl
    }

    /* MAL INPUTS */

    .wpadverts-mal-adv-inputs {
        @apply atw-flex atw-flex-wrap atw--mx-1 
    }

    .wpadverts-mal-adv-inputs .wpadverts-mal-adv-input {
        @apply atw-box-border atw-w-full atw-py-1 atw-px-1
    }

    .wpadverts-mal-adv-inputs .wpadverts-mal-adv-input.wpadverts-mal-half {
        @apply atw-w-2/4
    }
    
    .wpadverts-mal-adv-inputs .wpadverts-mal-input {
       
    }

    .wpadverts-mal-button-small {
        @apply atw-px-2 atw-rounded-md atw-bg-gray-500 atw-text-white atw-flex atw-items-center atw-ml-1 atw-no-underline
    }
    .wpadverts-mal-button-small:hover {
        @apply atw-no-underline atw-bg-gray-600 atw-text-white
    }

    /* BUTTONS */

    /* Button Primary */

    .atw-btn-primary-text {
         
    }

    /* END BUTTONS */

    .advert-is-featured {
        @apply atw-bg-blue-50 hover:atw-bg-blue-100
    }
    
    .widget {
      @apply atw-my-4;
    }
    
    .wpa-widget-title {
      @apply atw-text-xl atw-font-bold 
    }

    .drag-over .wpadverts-gallery {
        @apply atw-bg-gray-50;
    }
    
    /* Block / List: switch views */
    
    .wpa-block-list .wpa-results.wpa-list-view  {
        
    }
    
    /* removed .wpadverts-block-list  */
    .wpa-results.wpa-list-view {
        @apply atw-grid-cols-1
    }
    
    .wpa-results.wpa-grid-view {
        @apply atw-gap-x-4 atw-gap-y-4
    }
    
    .wpa-results.wpa-list-view .wpa-result-item {
        @apply atw-py-4;
    }
    
    .wpa-results.wpa-grid-view .wpa-result-item {
        @apply atw-flex-col atw-py-0 atw-border-none;
    }
    
    .wpa-results .wpa-list-only,
    .wpa-results .wpa-grid-only {
        @apply atw-hidden;
    }
    
    .wpa-results.wpa-list-view .wpa-list-only {
        @apply atw-block;
    }
    
    .wpa-results.wpa-grid-view .wpa-grid-only {
        @apply atw-block;
    }

    .wpa-results .wpa-picture-list,
    .wpa-results .wpa-picture-grid {
        @apply atw-hidden;
    }
    
    .wpa-results.wpa-list-view .wpa-picture-list {
        @apply atw-block;
    }
    
    .wpa-results.wpa-grid-view .wpa-picture-grid {
        @apply atw-block;
    }
    
    .wpa-results.wpa-list-view .wpa-result-details {
        @apply atw-flex-row atw-place-content-center
        
    }
    .wpa-results.wpa-grid-view .wpa-result-details {
        @apply atw-flex-col atw-px-2 atw-pt-4 atw-pb-2
        
    }
    
    .wpa-results.wpa-list-view .wpa-detail-left {
        @apply atw-self-center
    }
    
    .wpa-results.wpa-list-view .wpa-result-title {
        @apply atw-flex-none 
    }
    
    .wpa-results.wpa-grid-view .wpa-result-title {
        @apply atw-grow;
    }
    
    .js-wpa-view-list.wpa-selected i,
    .js-wpa-view-grid.wpa-selected i {
        @apply atw-text-gray-700;
    }
    
    .wpa-results.wpa-grid-view .wpa-result-meta {
        @apply atw-flex-col;
    }

    .wpa-results.wpa-list-view .wpa-result-meta {
        @apply atw-flex-row atw-space-x-3;
    }

    /* END: Block / List: switch views */

    /* BEGIN Flash messages */

    .wpadverts-flash {
        @apply atw-rounded-md;
    }

    .wpadverts-flash .wpa-flash-icon {

    }

    .wpadverts-flash.wpa-style-error {
        @apply atw-bg-red-100 atw-text-red-800;
    }

    .wpadverts-flash.wpa-style-error .wpa-flash-icon {
        @apply atw-text-red-400;
    }

    .wpadverts-flash.wpa-style-error a {
        @apply atw-text-red-800 atw-underline;
    }

    .wpadverts-flash.wpa-style-error a:hover {
        @apply atw-text-red-900 atw-underline;
    }

    .wpadverts-flash.wpa-style-error .wpa-btn-secondary {
        @apply atw-bg-red-200 atw-border-red-200 atw-text-red-800;
    }

    .wpadverts-flash.wpa-style-error .wpa-btn-secondary:hover {
        @apply atw-bg-red-300 atw-border-red-300 atw-text-red-900;
    }


    .wpadverts-flash.wpa-style-success {
        @apply atw-bg-green-100 atw-text-green-800;
    }

    .wpadverts-flash.wpa-style-success .wpa-flash-icon {
        @apply atw-text-green-500;
    }

    .wpadverts-flash.wpa-style-success a {
        @apply atw-text-green-800 atw-underline;
    }

    .wpadverts-flash.wpa-style-success a:hover {
        @apply atw-text-green-900 atw-underline;
    }

    .wpadverts-flash.wpa-style-success .wpa-btn-secondary {
        @apply atw-bg-green-200 atw-border-green-200 atw-text-green-800;
    }

    .wpadverts-flash.wpa-style-success .wpa-btn-secondary:hover {
        @apply atw-bg-green-300 atw-border-green-300 atw-text-green-900;
    }

    .wpadverts-flash.wpa-style-info {
        @apply atw-bg-gray-100 atw-text-gray-800;
    }

    .wpadverts-flash.wpa-style-info .wpa-flash-icon {
        @apply atw-text-gray-500;
    }

    .wpadverts-flash.wpa-style-info a {
        @apply atw-text-gray-800 atw-underline;
    }

    .wpadverts-flash.wpa-style-info a:hover {
        @apply atw-text-gray-900 atw-underline;
    }

    .wpadverts-flash.wpa-style-info .wpa-btn-secondary {
        @apply atw-bg-gray-200 atw-border-gray-200 atw-text-gray-800;
    }

    .wpadverts-flash.wpa-style-info .wpa-btn-secondary:hover {
        @apply atw-bg-gray-300 atw-border-gray-300 atw-text-gray-900;
    }

    .wpadverts-flash.wpa-layout-normal {
        @apply atw-mx-0 atw-my-6 atw-px-4 atw-py-4;
    }

    .wpadverts-flash.wpa-layout-normal .wpa-flash-icon {
        @apply atw-flex-none atw-m-0 atw-p-0 atw-pr-3 atw-text-xl;
    }

    .wpadverts-flash.wpa-layout-big {
        @apply atw-mx-0 atw-my-3 atw-px-3 atw-py-9;
    }

    .wpadverts-flash.wpa-layout-big .wpa-flash-content {
        @apply atw-flex-col atw-items-center;
    }

    .wpadverts-flash.wpa-layout-big .wpa-flash-icon {
        @apply atw-flex-none atw-m-0 atw-pt-0 atw-pb-3 atw-text-5xl;
    }

    .wpadverts-flash.wpa-layout-big .wpa-flash-message {
        @apply atw-text-lg atw-py-3;
    }

    .wpadverts-flash .wpa-flash-link-wrap {
        @apply atw-flex atw-flex-col md:atw-flex-row atw-pt-3 md:atw--mx-2
    }

    .wpadverts-flash.wpa-layout-big .wpa-flash-link-wrap {
        @apply atw-justify-center;
    }

    .wpadverts-flash .wpa-flash-link-wrap .wpa-flash-link {
        @apply atw-leading-loose atw-no-underline atw-rounded-lg atw-py-2 atw-px-4 atw-mt-3 md:atw-mx-2 md:atw-my-0 atw-bg-black/5 atw-font-bold
    }

    .wpadverts-flash .wpa-flash-link-wrap .wpa-flash-link:hover {
        @apply atw-bg-black/10 atw-no-underline;
    }

    .wpa-tabs {
        @apply atw-flex atw-flex-col md:atw-flex-row atw-list-none atw-p-0 atw-m-0 md:atw--mx-1;
    }

    .wpa-tabs .wpa-tab-link {
        @apply atw-list-none atw-w-full atw-m-0 atw-py-3 atw-px-3 atw-rounded-lg atw-border atw-mb-3 md:atw-mx-1 atw-border-solid atw-box-border atw-border-gray-200 atw-text-gray-500 atw-text-center atw-cursor-pointer;
    }

    .wpa-tabs .wpa-tab-link.current {
        @apply atw-border-transparent atw-text-gray-800 atw-font-bold atw-bg-gray-200;
    }

    .wpa-tabs .wpa-tab-link .fa-circle-check {
        @apply atw-hidden
    }

    .wpa-tabs .wpa-tab-link.current .fa-circle-check {
        @apply atw-inline atw-text-base atw-pr-1
    }

    .wpa-tab-content {

    }

    .wpadverts-pagination {
        @apply atw-flex atw-flex-row atw-flex-wrap atw-my-4 atw--mx-1
    }

    .wpadverts-pagination .page-numbers {
        @apply atw-inline-block atw-mx-1 atw-px-6 atw-py-3 atw-text-lg atw-font-bold atw-bg-gray-100 atw-text-gray-700 atw-rounded-lg atw-no-underline md:atw-px-4 md:atw-py-2 md:atw-text-base;
    }

    .wpadverts-pagination .page-numbers.current {
        @apply atw-bg-gray-200 atw-text-gray-400
    }

    .wpa-bulb {
        @apply atw-inline-block atw-rounded atw-py-1 atw-px-2 atw-text-sm
    }
    .wpa-bulb.wpa-bulb-error {
        @apply atw-bg-red-100 atw-text-red-500
    }
    .wpa-bulb.wpa-bulb-error a {
        @apply atw-text-red-700 atw-underline
    }
    .wpa-bulb.wpa-bulb-warning {
        @apply atw-bg-yellow-100 atw-text-yellow-500
    }
    .wpa-bulb.wpa-bulb-warning a {
        @apply atw-text-yellow-700 atw-underline
    }
    .wpa-bulb.wpa-bulb-info {
        @apply atw-bg-gray-100 atw-text-gray-500;
    }    
    .wpa-bulb.wpa-bulb-info a {
        @apply atw-text-gray-700 atw-underline
    }
    .wpa-bulb.wpa-bulb-success {
        @apply atw-bg-green-100 atw-text-green-500;
    }
    .wpa-bulb.wpa-bulb-success a {
        @apply atw-text-green-700 atw-underline
    }
    .wpadverts-modal .wpa-icon-question {
        @apply atw-bg-red-100
    }    
    
    .wpadverts-modal .wpa-icon-success {
        @apply atw-bg-green-100
    }

    .wpa-block-categories-item.wpa-item-stacked {
        @apply atw-flex-col
    }
    .wpa-block-categories-item.wpa-item-stacked .wpa-block-categories-title {
        @apply atw-text-center
    }
    .wpa-block-categories-item.wpa-item-stacked .wpa-block-categories-icon {
        @apply atw-text-center
    }

    .wpa-block-categories-item.wpa-item-aligned {
        @apply atw-flex-row atw-items-center
    }
    .wpa-block-categories-item.wpa-item-aligned .wpa-block-categories-title {
        @apply atw-pr-3
    }
    .wpa-block-categories-item.wpa-item-aligned .wpa-block-categories-icon {
        @apply atw-px-3
    }

    .wpa-row-inline-coma .wpa-row-value:after {
        content: ', ';
    }
    .wpa-row-inline-coma .wpa-row-value:last-child:after {
        content: '';
    }

    .wpa-row-inline {
        @apply atw--mx-1
    }
    .wpa-row-inline .wpa-row-value {
        @apply atw-px-1
    }

    .wpa-row-block .wpa-row-value {
        @apply atw-block atw-w-full
    }

    .wpa-row-attach {
        @apply atw-pr-2
    }
}
